/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&family=Noto+Sans&family=Nunito+Sans:opsz@6..12&family=Open+Sans:wght@300&family=Oswald:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,400;1,700&family=Poppins:wght@400;500&family=Roboto:ital@1&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    width: 770px;
    height: 200px;
    background-color: #FFFFFF;
    padding: 30px;
    /* justify-content: center; */
}
/* top players style */
.section-title{
    color: #562EFF;
    margin-top: 3px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 12px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 12px;

}
quem-somos-content-wrapper{
    overflow: hidden;
}
